body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Deep blue color */
    color: white;
    display: flex;
    height: 100vh;
    padding: 20px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-text {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

#head-text {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}